<div class="card">
  <h2>Lista de Tarefas</h2>
  <p>Adicione suas tarefas aqui:</p>

  <mat-form-field appearance="fill" class="input-tarefa">
    <mat-label>Nova Tarefa</mat-label>
    <input matInput [(ngModel)]="novaTarefa">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="adicionarTarefa()">
    Adicionar
  </button>

  <!-- Componente filho com template variable -->
  <app-tasklist
    #tasklistRef
    (toggleConcluidaEvent)="toggleConcluida($event)"
    (removerTarefaEvent)="removerTarefa($event)">
  </app-tasklist>

  <!-- Footer emitindo eventos -->
  <app-footer-action-bar
    (limparListaEvent)="limparLista()"
    (limparConcluidasEvent)="limparConcluidas()"
    (salvarEvent)="salvar()">
  </app-footer-action-bar>
</div>
